.wrapper {
    ul {
        display: flex;
        flex-direction: column;
        margin: 20px 0;
    }

    li {
        padding: 10px;
        background-color: rgb(255, 211, 218);
    }
}
.link {
    color: #ff35e1;
}
.active {
    color: rgb(64, 70, 255);
    font-weight: 600;
}
